<div class="wrapper">
  <div class="container">

    <h1><b>Coach Answer:</b> <%= @answer %> </h1>
    <h2><b>Question:</b> <%= @question %></h2>

    <%= link_to "Ask another question", ask_path %>

  </div>
</div>
